@font-face{
    font-family: 'agenda';
    src: url('../type/agenda_medium.woff2')
    format('woff2'),
        url('../type/agenda_medium.woff')
        format('woff');
    font-weight:normal;
    font-style:normal;
}

body{
    width: 100%;
    height: auto;
    background-image: url("../img/BRICKSxMORTAR_wallpaper.jpg");
    background-size: 200px, auto;
    background-color: black;
    color: floralwhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

#wrapper{
    width:80%;
    height: auto;
    margin: auto;
    background-color: black;
    padding:1em;
    position:relative;
    top:4.5em;
    z-index:0;
}

#logo{
    display: block;
    margin: auto;
    width: 60%;
    max-width:650px;
    padding:1em;
}

nav{
    width: 100%;
    height: auto;
    margin: 1em auto;
    padding:1em 0;
    text-align: center;
    background-color:aquamarine;
    margin-top:-99em;
    transition: margin-top 0.8s ease-in-out;
}

a.menu{
    display:block;
    transition: color 0.3s;
}

a.menu:link, a.menu:visited{
    color:black;
    text-decoration: none;
}

a.menu:hover, a.menu:active{
    color:magenta;
    /* text-decoration: underline; */
}

.magenta{
    color:magenta;
}

.smaller{
    font-size: 0.8em;
}

footer{
    width:100%;
    background-color: floralwhite;
    text-align: center;
    padding: 1em 0;
    clear:both;
    opacity: 0.7;
    transition: opacity 0.5s;
}

footer:hover{
    opacity:1;
}
footer p, footer a{
    width: 90%;
    margin: auto;
    text-decoration:none;
}

footer a:hover, footer a:active{
    color:black;
    background-color:aquamarine
}

h3{
    color:magenta;
}

h1{
    color: aquamarine;
}

.floatLeft{
    float:left;
}

.floatRight{
    float:right;
}

#banner{
    width:100%;
    height:auto;
    background:#000;
    border-bottom:1px solid #fff;
    position:fixed;
    z-index:+1;
    top:0;
    left:0;
    right:0;
}

header{
    width:100%;
    height:auto;
    /* margin-bottom:2em; */
    position: absolute;
    top:0;
    left:0;
    z-index:+1;
}

header p{
    width:99%;
    height:auto;
    color:black;
    background-color:aquamarine;
    font-weight:bold;
    padding-left:1%;
    margin-top:5em;
}

.slideDown{
    margin-top:-1em;
}

header:hover p{
    color:magenta;
    cursor:pointer;
}

#mission, #faq{
    /*added style, otherwise content would overlap with menu*/
    margin-top:7em;
}

a.definition:link, a.definition:visited{
    color: #dedede;
    text-decoration:underline;
    text-decoration-style:wavy;
}

a.definition:active, a.definition:hover{
    cursor: pointer;
    color:magenta;
}

.modal{
    color:black;
}