@media screen and (max-width:640px) {
    .floatright, .floatLeft{
        float:none;
    }

    .slick, #pinkkimono{
        display:block;
        width:95%;
        min-width:95%;
        margin:auto;
    }

    #wrapper{
        position: relative;
        top:2em;
    }

    header p {
        display: none;
    }

    #audioButton{
        width:35px;
        top:1em;
        margin-left:85%;
    }
}


@media screen and (min-width:641px) {
    #hamburger{
        display:none;
    }

}